body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
  background-color: Black;
  min-height: 100%;
  background-position: center;
  background-size: cover;
}

.img-container {
        text-align: center;
      }
P { text-align: center }
H3 { text-align: center }
